<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Menu</title>
</head>
<body>
<h1>Create Menu</h1>
<form th:action="@{/stores/{storeId}/menus(storeId=${storeId})}" method="post">
    <label for="name">Menu Name:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
    <br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required>
    <br>

    <label for="img_path">Image Path:</label>
    <input type="text" id="img_path" name="img_path">
    <br>

    <button type="submit">Create Menu</button>
</form>
<div class="footer">
    <a th:href="@{/orders/store/{storeId}(storeId=${storeId})}">주문현황</a>
    <a th:href="@{/stores/seller/self/{storeId}(storeId=${storeId})}">가게관리</a>
</div>
</body>
</html>
